pipeline/pipeline.json
{
	"name": "pipeline",
	"properties": {
		"activities": [
			{
				"name": "Data flow - Obtener cadenas",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set CSV path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"parameters": {
							"path_file": {
								"value": "'@{variables('file_path')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None"
				}
			},
			{
				"name": "Set CSV path",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_path",
					"value": {
						"value": "@concat(pipeline().parameters.archivo,'')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"archivo": {
				"type": "string",
				"defaultValue": "mini"
			}
		},
		"variables": {
			"file_path": {
				"type": "String"
			}
		},
		"annotations": []
	}
}