pipeline/pipeline.json
{
	"name": "pipeline",
	"properties": {
		"activities": [
			{
				"name": "Data flow - Obtener cadenas",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Switch Files Paths",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"parameters": {
							"path_file": {
								"value": "'@{variables('file_path')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None"
				}
			},
			{
				"name": "Switch Files Paths",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.archivo",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "mini",
							"activities": [
								{
									"name": "Set path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "file_path",
										"value": "/mini.csv"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Data flow - Obtener cadenas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "[1,3]",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"archivo": {
				"type": "string",
				"defaultValue": "mini"
			}
		},
		"variables": {
			"file_path": {
				"type": "String"
			}
		},
		"annotations": []
	}
}