pipeline/pipeline.json
{
	"name": "pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach particion",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Data flow - Obtener cadenas",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"path_file": {
											"value": "'@{item()}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "None"
							}
						}
					]
				}
			},
			{
				"name": "Execute join json format",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach particion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "join json format",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"particiones": {
				"type": "array",
				"defaultValue": [
					"mini",
					"df1",
					"df2",
					"df4"
				]
			},
			"Cadenas": {
				"type": "array",
				"defaultValue": [
					"Mariaside",
					"'Rebeccaburgh",
					"North Eric",
					"Cookville",
					"Josephville",
					"Port Danielle",
					"South Christopher"
				]
			}
		},
		"variables": {
			"file_path": {
				"type": "String"
			}
		},
		"annotations": []
	}
}